.films {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px
}

.film{
    display: flex;
    border: solid black 1px;
}

.poster{
    max-width: 500px;
    max-height: 300px;
}

.film_info{
    margin: 0;
    padding: 0;
}